{% extends 'base.html' %}

{% block title %}Add Category{% endblock %}

{% block content %}



<div style="padding: 30px; margin-right: 500px;">
    <form action="" method="POST" data-validate-name-url="{% url 'inventory:validate_category_name' %}" id="formid">
        {% csrf_token %}
        <h3>Add Category Details</h3>
        {{form.as_p}}
        <br>
        <button class="btn btn-success">Add</button>

    </form>
</div>
{% block javascript %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

<script>
    console.log("Check")
    $("#id_name").change(function() {
        var name = $(this).val();
        var form = $("#formid");

        $.ajax({
            url: form.attr("data-validate-name-url"),
            data: form.serialize(),
            dataType: 'json',
            success: function (data) {
                console.log(data)
                if (data.is_taken) {
                    alert(data.error_message);
                }
            }
        });

    });
</script>
{% endblock %}

{% endblock %}